body {
  background-color:black;
}

.container-fluid {
  width:90%;
  height:50%;
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  margin:auto;
}


#random {
  font-size:3.5em;
}

#random,h1 {
  color:white;
  text-align:center;
}

a, a:hover, a:visited {
  color:orange;
  text-decoration:none;
}

.wiki_links:hover, .wiki_links:visited, .wiki_links:link {
  color:black;
  text-decoration:none;
}

#in {
  margin:0 auto;
  display:block;
  width:50%;
  border-radius:10px;
  border:5px #D86D20 solid;
  font-size:2em;
  font-family:FontAwesome,sans-serif;
  padding:1%;
  background-color:black;
  color:#9C9C9C;
}

.results {
  margin-top:2%;
  background-color:white;
  color:black;
  font-size:1.5em;
  border-radius:5px;
  padding:.5%;
  list-style-type:none;
  
}

#info {
  color:white;
  font-size:2em;
  text-align:center;
  margin-top:1%;
}

@media only screen and (min-width:300px) and (max-width:820px) {
  #in {
    width:90%;
  }
  
  #random {
    font-size:2em;
  }
}